body{
background: url("cooler background.jpg") center/cover no-repeat;
}
form{
    background-color: white;
    box-shadow: 0 0 10px gold;
    width: 400px;
    text-align: center;
}
.wraper{
    height: 100vh;
}
button{
    background-color: rgb(255, 0, 0);
    font-family: 'Nabla', cursive;
    filter: hue-rotate(90deg);
}
h5{
    font-size: 30px;
    filter: hue-rotate(90deg);
    font-family: 'Nabla', cursive;
    margin:auto;
}
h1{
    color: #56ffb0;
    font-family: 'Nabla', cursive;
    word-wrap: break-word;
}
input{
    display:block;
    margin:auto;
    border:none;
    box-shadow: 0 0 10px gold;
}
h6{
    font-family: 'Nabla', cursive;
    filter: hue-rotate(90deg);
    font-size: 25px;
    }